<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Fingerprint-Voter-Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>testImage.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Controller.Voter.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Controller.Voter.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>com.Controller.Contact.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.Controller.Admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAdmin</display-name>
    <servlet-name>LogoutAdmin</servlet-name>
    <servlet-class>com.Controller.Admin.LogoutAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdmin</servlet-name>
    <url-pattern>/LogoutAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.Controller.Voter.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vote</display-name>
    <servlet-name>Vote</servlet-name>
    <servlet-class>com.Controller.Vote.Vote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vote</servlet-name>
    <url-pattern>/Vote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateList</display-name>
    <servlet-name>CandidateList</servlet-name>
    <servlet-class>com.Controller.Condidate.CandidateList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateList</servlet-name>
    <url-pattern>/CandidateList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteServlet</display-name>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>com.Controller.Vote.VoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/voteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetResult</display-name>
    <servlet-name>GetResult</servlet-name>
    <servlet-class>com.Controller.Result.GetResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResult</servlet-name>
    <url-pattern>/GetResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCandidateButton</display-name>
    <servlet-name>AddCandidateButton</servlet-name>
    <servlet-class>com.Controller.Buttons.AddCandidateButton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCandidateButton</servlet-name>
    <url-pattern>/AddCandidateButton</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCandidateButton</display-name>
    <servlet-name>RemoveCandidateButton</servlet-name>
    <servlet-class>com.Controller.Buttons.RemoveCandidateButton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCandidateButton</servlet-name>
    <url-pattern>/RemoveCandidateButton</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishResultButton</display-name>
    <servlet-name>PublishResultButton</servlet-name>
    <servlet-class>com.Controller.Buttons.PublishResultButton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishResultButton</servlet-name>
    <url-pattern>/PublishResultButton</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVoterButton</display-name>
    <servlet-name>UpdateVoterButton</servlet-name>
    <servlet-class>com.Controller.Buttons.UpdateVoterButton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVoterButton</servlet-name>
    <url-pattern>/UpdateVoterButton</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCandidate</display-name>
    <servlet-name>AddCandidate</servlet-name>
    <servlet-class>com.Controller.Condidate.AddCandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCandidate</servlet-name>
    <url-pattern>/AddCandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.Controller.Admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>